.rw-mdc-reportingDialog .mdc-select,
.rw-mdc-reportingDialog [data-mdc-textinput] {
    width: 100%;
    margin: 12px 0;
}

.rw-mdc-reportingDialog [data-mdc-textinput] textarea {
    min-height: 150px;
}

.rw-mdc-reportingDialog--notice {
    display: inline-block;
    font-size: 16px;
    height: 30px;
    font-weight: 500;
    letter-spacing: normal;
}
